body{
    background-color: lightgray;
    width:1000px;
}
#topimage img{
    width:1000px;
    height:300px;
    border:solid #D9A893;
}
#topimage{
    text-align: center;
}
#container{
    display:flex;
    justify-content: space-around;
    width:100%;
    flex-direction: row;
    flex:1;
    align-self: stretch;
}

#add-task{
    width:500px;
    background-color:#619387;
}
#button{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
#inputbox{
    width:225px;
    height:30px;
    margin-left:135px;
}
#inputbox2{
    width:150px;
    height:30px;
    margin-left:20px;
}
#unfinished-tasks{
    width:500px;
    background-color:#C9FDF1;
}

#container h3{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size:25px;
}
#headcontainer{
    display:flex;
    justify-content: center;
}